<a href="https://colab.research.google.com/github/robertdc2/IS-170-Machine-Learning/blob/7.-K-Nearest-Neighbors/Sanchez_HW7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HW 7 – K-Nearest Neighbors 'Loan_Default.csv' dataset

In [ ]:
#import scikit-learn dataset library
from sklearn import datasets
import pandas as pd
import numpy as np

#load dataset

df = pd.read_csv('Loan_Default.csv')

In [ ]:
df.head()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

In [ ]:
df = pd.read_csv('Loan_Default.csv')
print(df.head())

      ID  year loan_limit             Gender approv_in_adv loan_type  \
0  24890  2019         cf  Sex Not Available         nopre     type1
1  24891  2019         cf               Male         nopre     type2
2  24892  2019         cf               Male           pre     type1
3  24893  2019         cf               Male         nopre     type1
4  24894  2019         cf              Joint           pre     type1

  loan_purpose Credit_Worthiness open_credit business_or_commercial  ...  \
0           p1                l1        nopc                  nob/c  ...
1           p1                l1        nopc                    b/c  ...
2           p1                l1        nopc                  nob/c  ...
3           p4                l1        nopc                  nob/c  ...
4           p1                l1        nopc                  nob/c  ...

   credit_type  Credit_Score  co-applicant_credit_type    age  \
0          EXP           758                       CIB  25-34
1         EQUI           552                       EXP  55-64
2          EXP           834                       CIB  35-44
3          EXP           587                       CIB  45-54
4         CRIF           602                       EXP  25-34

   submission_of_application        LTV Region Security_Type  Status dtir1
0                    to_inst  98.728814  south        direct       1  45.0
1                    to_inst        NaN  North        direct       1   NaN
2                    to_inst  80.019685  south        direct       0  46.0
3                   not_inst  69.376900  North        direct       0  42.0
4                   not_inst  91.886544  North        direct       0  39.0

[5 rows x 34 columns]

In [ ]:
#print the names of the features
print(list(data.columns[:-1]))

['ID', 'year', 'loan_limit', 'Gender', 'approv_in_adv', 'loan_type', 'loan_purpose', 'Credit_Worthiness', 'open_credit', 'business_or_commercial', 'loan_amount', 'rate_of_interest', 'Interest_rate_spread', 'Upfront_charges', 'term', 'Neg_ammortization', 'interest_only', 'lump_sum_payment', 'property_value', 'construction_type', 'occupancy_type', 'Secured_by', 'total_units', 'income', 'credit_type', 'Credit_Score', 'co-applicant_credit_type', 'age', 'submission_of_application', 'LTV', 'Region', 'Security_Type', 'Status']

In [ ]:
#print the label species
print(df.Gender)

0         Sex Not Available
1                      Male
2                      Male
3                      Male
4                     Joint
                ...
148665    Sex Not Available
148666                 Male
148667                 Male
148668               Female
148669               Female
Name: Gender, Length: 148670, dtype: object

In [ ]:
# Print the top five records of the DataFrame
print(data.head())

      ID  year loan_limit             Gender approv_in_adv loan_type  \
0  24890  2019         cf  Sex Not Available         nopre     type1
1  24891  2019         cf               Male         nopre     type2
2  24892  2019         cf               Male           pre     type1
3  24893  2019         cf               Male         nopre     type1
4  24894  2019         cf              Joint           pre     type1

  loan_purpose Credit_Worthiness open_credit business_or_commercial  ...  \
0           p1                l1        nopc                  nob/c  ...
1           p1                l1        nopc                    b/c  ...
2           p1                l1        nopc                  nob/c  ...
3           p4                l1        nopc                  nob/c  ...
4           p1                l1        nopc                  nob/c  ...

   credit_type  Credit_Score  co-applicant_credit_type    age  \
0          EXP           758                       CIB  25-34
1         EQUI           552                       EXP  55-64
2          EXP           834                       CIB  35-44
3          EXP           587                       CIB  45-54
4         CRIF           602                       EXP  25-34

   submission_of_application        LTV Region Security_Type  Status dtir1
0                    to_inst  98.728814  south        direct       1  45.0
1                    to_inst        NaN  North        direct       1   NaN
2                    to_inst  80.019685  south        direct       0  46.0
3                   not_inst  69.376900  North        direct       0  42.0
4                   not_inst  91.886544  North        direct       0  39.0

[5 rows x 34 columns]

In [ ]:
#print the labels 
print(df.approv_in_adv)

0         nopre
1         nopre
2           pre
3         nopre
4           pre
          ...
148665    nopre
148666    nopre
148667    nopre
148668    nopre
148669    nopre
Name: approv_in_adv, Length: 148670, dtype: object

In [ ]:
#print data(feature)shape
print(df.shape)

(148670, 34)

In [ ]:
#print target(or label)shape
print(df.ID.shape)

(148670,)

Make sure you are cleared with the feature engineering BEFORE the next step (model building). Double check for the missing data values, normalization, string to numeric conversion, etc....

In [ ]:
from sklearn.model_selection import train_test_split

# Define the feature matrix (X) and target vector (y)
X = df.drop('Gender', axis=1)
y = df['Gender']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

# Load the dataset from the CSV file into a pandas dataframe
df = pd.read_csv('Loan_Default.csv')

# Create the target column based on the 'loan_status' column
df['Gender'] = np.where(df['Gender'] == 'Default', 1, 0)

# Define the feature matrix (X) and target vector (y)
X = df.drop('Gender', axis=1)
y = df['Gender']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

#Model accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_train))

Accuracy: 1.0

K-Nearest Neighbors is a simple machine learning algorithm that can be used to classify or predict outcomes based on similar data. It works by finding the closest data points to a new observation and making a prediction based on the majority of those nearby points. For example, if we want to predict whether a new customer will buy a product based on their age and income, the K-Nearest Neighbors algorithm will find the closest customers that are stored in the data that have a similar age and income and use their buying behavior to make a prediction for the new customer.