<a href="https://colab.research.google.com/github/robertdc2/IS-170-Machine-Learning/blob/8.-Naive-Bayes/Sanchez_Rodea_Lab_8_Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Robert Sanchez
# Lab 8

In [ ]:
import pandas as pd
import numpy as np

df=pd.read_csv("/content/Naive-Bayes-Classification-Data.csv")
df

     glucose  bloodpressure  diabetes
0         40             85         0
1         40             92         0
2         45             63         1
3         45             80         0
4         40             73         1
..       ...            ...       ...
990       45             87         0
991       40             83         0
992       40             83         0
993       40             60         1
994       45             82         0

[995 rows x 3 columns]

In [ ]:
def merge (list1, list2):
  merged_list=tuple(zip(list1, list2))
  return merged_list

features=merge(df['glucose'], df['bloodpressure'])
features

((40, 85),
 (40, 92),
 (45, 63),
 (45, 80),
 (40, 73),
 (45, 82),
 (40, 85),
 (30, 63),
 (65, 65),
 (45, 82),
 (35, 73),
 (45, 90),
 (50, 68),
 (40, 93),
 (35, 80),
 (50, 70),
 (40, 73),
 (40, 67),
 (40, 75),
 (40, 80),
 (40, 72),
 (40, 88),
 (40, 78),
 (45, 98),
 (40, 88),
 (60, 67),
 (40, 85),
 (40, 88),
 (45, 78),
 (55, 73),
 (45, 77),
 (50, 68),
 (45, 77),
 (40, 85),
 (45, 70),
 (45, 72),
 (45, 90),
 (40, 65),
 (45, 88),
 (45, 88),
 (40, 68),
 (40, 73),
 (45, 88),
 (45, 78),
 (45, 85),
 (40, 83),
 (40, 63),
 (45, 73),
 (45, 90),
 (45, 87),
 (40, 90),
 (45, 93),
 (50, 73),
 (40, 68),
 (50, 68),
 (50, 90),
 (50, 75),
 (50, 85),
 (45, 83),
 (50, 65),
 (45, 80),
 (40, 75),
 (35, 77),
 (55, 68),
 (45, 85),
 (45, 87),
 (25, 82),
 (40, 90),
 (45, 82),
 (45, 80),
 (45, 88),
 (40, 87),
 (45, 70),
 (45, 88),
 (45, 88),
 (50, 67),
 (45, 93),
 (45, 90),
 (55, 77),
 (35, 62),
 (30, 78),
 (50, 82),
 (45, 83),
 (40, 83),
 (40, 82),
 (50, 70),
 (45, 92),
 (40, 90),
 (40, 85),
 (40, 73),
 (50, 88),
 (30, 80),
 (40, 85),
 (30, 75),
 (45, 85),
 (40, 85),
 (60, 80),
 (40, 90),
 (35, 65),
 (40, 87),
 (45, 87),
 (45, 92),
 (45, 95),
 (50, 67),
 (40, 90),
 (45, 85),
 (45, 75),
 (50, 73),
 (40, 70),
 (40, 92),
 (30, 72),
 (50, 87),
 (40, 93),
 (55, 60),
 (40, 82),
 (40, 95),
 (40, 72),
 (60, 68),
 (45, 92),
 (40, 70),
 (45, 97),
 (50, 83),
 (60, 63),
 (35, 65),
 (45, 90),
 (40, 65),
 (40, 95),
 (30, 68),
 (45, 83),
 (45, 92),
 (45, 87),
 (45, 72),
 (45, 83),
 (45, 85),
 (45, 88),
 (55, 68),
 (60, 65),
 (40, 73),
 (35, 73),
 (40, 83),
 (50, 67),
 (45, 80),
 (55, 68),
 (45, 80),
 (50, 80),
 (40, 92),
 (50, 77),
 (50, 92),
 (45, 85),
 (65, 70),
 (45, 77),
 (45, 82),
 (40, 95),
 (45, 75),
 (45, 78),
 (45, 87),
 (50, 83),
 (45, 92),
 (40, 73),
 (45, 88),
 (45, 72),
 (40, 67),
 (45, 78),
 (40, 78),
 (45, 87),
 (50, 78),
 (45, 75),
 (55, 73),
 (45, 87),
 (45, 80),
 (45, 73),
 (45, 93),
 (45, 73),
 (40, 87),
 (40, 87),
 (45, 87),
 (25, 72),
 (45, 88),
 (55, 68),
 (40, 90),
 (40, 93),
 (45, 82),
 (35, 77),
 (50, 72),
 (40, 100),
 (25, 83),
 (55, 72),
 (45, 82),
 (40, 75),
 (35, 80),
 (40, 90),
 (45, 90),
 (45, 85),
 (55, 63),
 (45, 92),
 (40, 87),
 (45, 93),
 (45, 85),
 (35, 70),
 (55, 73),
 (50, 67),
 (50, 65),
 (55, 75),
 (45, 85),
 (35, 68),
 (40, 80),
 (40, 63),
 (40, 90),
 (50, 90),
 (25, 67),
 (55, 67),
 (60, 67),
 (50, 92),
 (45, 80),
 (50, 77),
 (40, 88),
 (45, 93),
 (40, 93),
 (45, 77),
 (40, 77),
 (55, 75),
 (45, 87),
 (60, 67),
 (45, 90),
 (30, 73),
 (45, 87),
 (40, 88),
 (45, 95),
 (45, 77),
 (55, 68),
 (45, 83),
 (40, 90),
 (40, 83),
 (45, 97),
 (45, 85),
 (45, 83),
 (45, 72),
 (45, 68),
 (40, 93),
 (40, 87),
 (40, 87),
 (55, 70),
 (60, 68),
 (50, 90),
 (40, 90),
 (40, 78),
 (50, 80),
 (55, 75),
 (40, 72),
 (50, 73),
 (45, 58),
 (55, 68),
 (40, 90),
 (55, 72),
 (35, 82),
 (40, 70),
 (55, 57),
 (50, 80),
 (45, 83),
 (45, 85),
 (45, 72),
 (40, 75),
 (40, 85),
 (40, 83),
 (40, 72),
 (35, 63),
 (20, 70),
 (40, 92),
 (45, 87),
 (45, 83),
 (55, 67),
 (45, 80),
 (45, 75),
 (40, 70),
 (40, 88),
 (35, 78),
 (55, 63),
 (40, 82),
 (40, 65),
 (45, 90),
 (40, 72),
 (55, 62),
 (50, 83),
 (50, 58),
 (45, 72),
 (50, 68),
 (65, 60),
 (25, 73),
 (35, 68),
 (45, 58),
 (45, 92),
 (45, 67),
 (50, 72),
 (40, 87),
 (35, 77),
 (50, 65),
 (60, 77),
 (40, 68),
 (45, 88),
 (50, 77),
 (45, 82),
 (50, 73),
 (35, 68),
 (40, 92),
 (55, 65),
 (45, 83),
 (50, 67),
 (40, 68),
 (45, 83),
 (45, 90),
 (45, 83),
 (40, 72),
 (45, 78),
 (55, 68),
 (35, 82),
 (50, 87),
 (50, 83),
 (45, 73),
 (45, 83),
 (30, 73),
 (45, 83),
 (40, 68),
 (35, 77),
 (45, 85),
 (45, 78),
 (25, 73),
 (40, 88),
 (45, 82),
 (60, 68),
 (70, 65),
 (40, 87),
 (35, 70),
 (55, 68),
 (35, 90),
 (40, 65),
 (40, 65),
 (55, 60),
 (50, 83),
 (40, 87),
 (40, 82),
 (45, 85),
 (40, 85),
 (55, 68),
 (40, 83),
 (50, 88),
 (40, 88),
 (50, 85),
 (35, 62),
 (40, 75),
 (40, 75),
 (45, 90),
 (60, 85),
 (50, 85),
 (40, 82),
 (40, 63),
 (40, 88),
 (30, 82),
 (45, 83),
 (50, 77),
 (45, 97),
 (45, 93),
 (50, 68),
 (40, 87),
 (45, 87),
 (40, 67),
 (50, 85),
 (50, 90),
 (35, 70),
 (45, 92),
 (30, 78),
 (45, 88),
 (55, 70),
 (45, 88),
 (50, 78),
 (40, 70),
 (45, 73),
 (40, 88),
 (35, 75),
 (45, 82),
 (50, 68),
 (35, 77),
 (40, 73),
 (45, 75),
 (45, 82),
 (45, 78),
 (40, 70),
 (45, 88),
 (35, 77),
 (50, 65),
 (40, 90),
 (45, 83),
 (50, 67),
 (45, 78),
 (45, 82),
 (45, 85),
 (40, 70),
 (45, 68),
 (45, 73),
 (40, 82),
 (50, 78),
 (50, 92),
 (45, 82),
 (45, 92),
 (55, 65),
 (40, 72),
 (50, 85),
 (50, 62),
 (45, 92),
 (55, 72),
 (40, 83),
 (45, 67),
 (55, 65),
 (45, 73),
 (50, 85),
 (45, 90),
 (40, 72),
 (50, 92),
 (45, 87),
 (45, 75),
 (45, 78),
 (55, 73),
 (35, 90),
 (40, 70),
 (40, 88),
 (45, 95),
 (40, 77),
 (25, 88),
 (40, 88),
 (65, 62),
 (40, 85),
 (30, 83),
 (50, 52),
 (50, 75),
 (35, 78),
 (45, 87),
 (40, 93),
 (45, 82),
 (45, 67),
 (55, 70),
 (40, 82),
 (40, 90),
 (45, 67),
 (40, 80),
 (40, 60),
 (40, 83),
 (40, 88),
 (50, 90),
 (50, 83),
 (50, 68),
 (45, 82),
 (55, 70),
 (35, 72),
 (50, 87),
 (45, 90),
 (45, 90),
 (45, 92),
 (45, 68),
 (45, 90),
 (50, 88),
 (45, 92),
 (45, 88),
 (45, 80),
 (55, 72),
 (35, 83),
 (50, 85),
 (50, 70),
 (40, 83),
 (40, 92),
 (50, 88),
 (40, 100),
 (40, 77),
 (35, 70),
 (35, 85),
 (45, 88),
 (40, 73),
 (40, 65),
 (40, 97),
 (35, 87),
 (40, 83),
 (50, 75),
 (45, 78),
 (50, 95),
 (50, 90),
 (40, 78),
 (30, 75),
 (45, 67),
 (50, 83),
 (45, 80),
 (45, 85),
 (60, 68),
 (55, 67),
 (30, 82),
 (45, 92),
 (45, 62),
 (40, 88),
 (35, 78),
 (40, 75),
 (30, 70),
 (30, 78),
 (30, 78),
 (45, 85),
 (50, 60),
 (40, 92),
 (45, 73),
 (40, 78),
 (50, 72),
 (45, 73),
 (40, 88),
 (45, 90),
 (40, 83),
 (45, 73),
 (45, 68),
 (55, 65),
 (45, 85),
 (50, 63),
 (40, 70),
 (50, 65),
 (50, 75),
 (40, 88),
 (45, 77),
 (40, 93),
 (45, 87),
 (45, 77),
 (40, 87),
 (35, 73),
 (40, 75),
 (45, 87),
 (30, 77),
 (40, 72),
 (45, 77),
 (40, 93),
 (35, 68),
 (40, 75),
 (25, 70),
 (40, 85),
 (50, 77),
 (45, 88),
 (45, 78),
 (50, 68),
 (40, 65),
 (50, 78),
 (40, 60),
 (40, 82),
 (40, 82),
 (50, 80),
 (50, 83),
 (35, 87),
 (40, 92),
 (45, 88),
 (55, 68),
 (50, 80),
 (50, 72),
 (65, 72),
 (40, 85),
 (50, 63),
 (45, 92),
 (30, 78),
 (50, 88),
 (40, 85),
 (50, 90),
 (45, 73),
 (50, 60),
 (45, 85),
 (55, 70),
 (35, 70),
 (50, 80),
 (45, 87),
 (45, 65),
 (45, 70),
 (45, 85),
 (40, 63),
 (40, 87),
 (45, 83),
 (50, 87),
 (45, 82),
 (50, 90),
 (50, 80),
 (35, 88),
 (40, 87),
 (45, 83),
 (45, 80),
 (40, 83),
 (45, 87),
 (40, 95),
 (40, 88),
 (45, 88),
 (45, 83),
 (45, 78),
 (45, 57),
 (50, 83),
 (45, 82),
 (45, 57),
 (45, 83),
 (45, 77),
 (30, 83),
 (50, 75),
 (40, 87),
 (35, 62),
 (45, 78),
 (55, 75),
 (45, 88),
 (45, 68),
 (30, 73),
 (45, 73),
 (50, 73),
 (40, 68),
 (35, 80),
 (40, 85),
 (45, 73),
 (40, 92),
 (35, 77),
 (40, 93),
 (55, 78),
 (45, 73),
 (55, 67),
 (45, 68),
 (45, 93),
 (40, 92),
 (50, 92),
 (65, 63),
 (20, 80),
 (45, 70),
 (50, 88),
 (45, 72),
 (65, 73),
 (50, 85),
 (30, 80),
 (45, 63),
 (45, 87),
 (40, 83),
 (45, 80),
 (55, 75),
 (50, 78),
 (45, 88),
 (45, 77),
 (45, 90),
 (50, 88),
 (40, 87),
 (50, 83),
 (45, 83),
 (40, 92),
 (45, 67),
 (50, 85),
 (70, 62),
 (40, 87),
 (45, 88),
 (35, 77),
 (45, 85),
 (45, 90),
 (45, 88),
 (55, 60),
 (45, 70),
 (45, 75),
 (45, 92),
 (50, 82),
 (50, 80),
 (40, 67),
 (45, 93),
 (45, 92),
 (40, 87),
 (45, 87),
 (50, 85),
 (55, 73),
 (45, 73),
 (35, 73),
 (45, 88),
 (50, 90),
 (30, 80),
 (25, 73),
 (35, 80),
 (40, 65),
 (45, 73),
 (35, 75),
 (45, 70),
 (60, 70),
 (55, 75),
 (45, 68),
 (35, 83),
 (45, 67),
 (45, 85),
 (55, 63),
 (45, 88),
 (45, 57),
 (50, 58),
 (50, 75),
 (45, 92),
 (40, 85),
 (45, 80),
 (40, 88),
 (50, 83),
 (45, 90),
 (45, 82),
 (40, 82),
 (45, 75),
 (50, 93),
 (45, 75),
 (45, 93),
 (50, 72),
 (50, 73),
 (40, 82),
 (40, 90),
 (35, 67),
 (40, 93),
 (50, 70),
 (50, 85),
 (40, 90),
 (40, 80),
 (40, 87),
 (50, 85),
 (40, 88),
 (40, 82),
 (50, 85),
 (40, 85),
 (45, 68),
 (60, 60),
 (50, 83),
 (50, 67),
 (50, 78),
 (40, 70),
 (40, 70),
 (45, 77),
 (45, 88),
 (45, 87),
 (50, 62),
 (50, 63),
 (40, 72),
 (40, 90),
 (65, 73),
 (55, 73),
 (40, 67),
 (45, 80),
 (45, 90),
 (45, 82),
 (40, 87),
 (45, 88),
 (40, 67),
 (45, 85),
 (50, 88),
 (60, 75),
 (45, 60),
 (35, 72),
 (50, 77),
 (40, 75),
 (55, 73),
 (40, 63),
 (45, 90),
 (45, 92),
 (40, 98),
 (40, 83),
 (60, 67),
 (45, 88),
 (40, 72),
 (45, 82),
 (40, 82),
 (45, 87),
 (45, 88),
 (55, 67),
 (40, 67),
 (45, 85),
 (60, 75),
 (40, 80),
 (45, 68),
 (40, 93),
 (45, 83),
 (45, 70),
 (25, 73),
 (55, 93),
 (55, 67),
 (55, 62),
 (60, 68),
 (50, 78),
 (55, 78),
 (45, 88),
 (50, 85),
 (35, 83),
 (45, 83),
 (45, 75),
 (50, 70),
 (45, 85),
 (50, 87),
 (45, 78),
 (40, 93),
 (30, 78),
 (50, 70),
 (35, 90),
 (45, 83),
 (60, 62),
 (45, 92),
 (40, 62),
 (50, 75),
 (40, 65),
 (50, 90),
 (30, 75),
 (35, 67),
 (40, 70),
 (40, 78),
 (50, 93),
 (45, 87),
 (45, 90),
 (45, 85),
 (40, 77),
 (50, 95),
 (45, 90),
 (35, 80),
 (45, 83),
 (45, 90),
 (45, 95),
 (35, 73),
 (60, 70),
 (45, 92),
 (45, 82),
 (45, 70),
 (45, 77),
 (30, 70),
 (40, 85),
 (45, 67),
 (55, 68),
 (45, 80),
 (55, 72),
 (35, 67),
 (50, 78),
 (35, 82),
 (50, 77),
 (45, 92),
 (45, 85),
 (45, 75),
 (50, 88),
 (40, 87),
 (40, 73),
 (45, 63),
 (50, 67),
 (55, 73),
 (35, 82),
 (45, 85),
 (45, 85),
 (40, 65),
 (40, 85),
 (45, 80),
 (40, 87),
 (55, 77),
 (40, 67),
 (45, 82),
 (50, 78),
 (50, 83),
 (50, 65),
 (40, 87),
 (45, 93),
 (50, 88),
 (45, 85),
 (45, 92),
 (45, 68),
 (55, 72),
 (40, 77),
 (50, 65),
 (40, 75),
 (40, 80),
 (40, 92),
 (40, 75),
 (45, 83),
 (45, 87),
 (35, 78),
 (50, 85),
 (50, 65),
 (40, 88),
 (45, 73),
 (45, 87),
 (40, 87),
 (50, 92),
 (40, 87),
 (50, 85),
 (45, 70),
 (35, 83),
 (40, 88),
 (20, 73),
 (45, 60),
 (45, 88),
 (55, 77),
 (40, 87),
 (40, 87),
 (45, 82),
 (50, 80),
 (50, 95),
 (40, 67),
 (45, 67),
 (45, 85),
 (45, 78),
 (40, 88),
 (35, 72),
 (45, 80),
 (45, 85),
 (45, 88),
 (40, 87),
 (35, 70),
 (50, 82),
 (45, 87),
 (45, 80),
 (40, 78),
 (45, 80),
 (45, 72),
 (45, 77),
 (40, 88),
 (45, 87),
 (45, 90),
 (45, 83),
 (45, 88),
 (35, 88),
 (60, 63),
 (40, 80),
 (45, 87),
 (45, 90),
 (35, 82),
 (40, 72),
 (45, 72),
 (40, 90),
 (55, 87),
 (30, 77),
 (45, 85),
 (45, 72),
 (45, 87),
 (40, 87),
 (40, 70),
 (50, 83),
 (40, 80),
 (45, 83),
 (50, 82),
 (45, 78),
 (45, 85),
 (45, 90),
 (45, 88),
 (45, 67),
 (30, 75),
 (35, 77),
 (40, 88),
 (40, 75),
 (45, 95),
 (40, 72),
 (40, 65),
 (45, 90),
 (40, 77),
 (45, 90),
 (40, 88),
 (45, 75),
 (45, 73),
 (35, 75),
 (55, 65),
 (40, 95),
 (45, 87),
 (45, 67),
 (50, 80),
 (50, 67),
 (45, 77),
 (45, 92),
 (45, 73),
 (40, 75),
 (35, 70),
 (45, 50),
 (45, 87),
 (35, 73),
 (40, 83),
 (45, 88),
 (45, 73),
 (40, 72),
 (45, 88),
 (50, 88),
 (40, 75),
 (50, 95),
 (35, 68),
 (45, 75),
 (50, 90),
 (40, 88),
 (40, 78),
 (55, 68),
 (45, 85),
 (60, 63),
 (40, 78),
 (40, 92),
 (50, 65),
 (45, 82),
 (45, 97),
 (50, 83),
 (45, 73),
 (45, 75),
 (50, 67),
 (45, 65),
 (50, 73),
 (40, 73),
 (45, 97),
 (45, 90),
 (45, 90),
 (45, 68),
 (45, 87),
 (40, 83),
 (40, 83),
 (40, 60),
 (45, 82))

In [ ]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets
model.fit(features,df['diabetes'])

#Predict Output
predicted= model.predict([[0,2]]) # 0:No Diabetes, 1: Has diabetes
print ("Predicted Value:", predicted)

Predicted Value: [1]

From the above result , 1 will indicate that the person does in fact have diabetes.

Dataset # 2 / Part 2 

Determining gender based on inputs.

In [ ]:
df=pd.read_csv("/content/Adult Census Income.csv")
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [ ]:
#In order to process we must turn those categorical values into numberic values
#Import LabelEncoder
from sklearn import preprocessing

#creating labelEncoder
le = preprocessing.LabelEncoder()

#Using .fit_transform function to fit label
#encoder and return encoded label
sex_label=le.fit_transform(df['sex'])
df.drop("sex", axis=1, inplace=True)
df["sex"] = sex_label

marital_label=le.fit_transform(df['marital.status'])
df.drop("marital.status", axis=1, inplace=True)
df["marital.status"] = marital_label

relationship_label=le.fit_transform(df['relationship'])
df.drop("relationship", axis=1, inplace=True)
df["relationship"] = relationship_label


df

,age,workclass,fnlwgt,education,education.num,occupation,race,capital.gain,capital.loss,hours.per.week,native.country,income,sex,marital.status,relationship
0,90,?,77053,HS-grad,9,?,White,0,4356,40,United-States,<=50K,1,6,1
1,82,Private,132870,HS-grad,9,Exec-managerial,White,0,4356,18,United-States,<=50K,1,6,1
2,66,?,186061,Some-college,10,?,Black,0,4356,40,United-States,<=50K,4,6,4
3,54,Private,140359,7th-8th,4,Machine-op-inspct,White,0,3900,40,United-States,<=50K,4,0,4
4,41,Private,264663,Some-college,10,Prof-specialty,White,0,3900,40,United-States,<=50K,3,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Protective-serv,White,0,0,40,United-States,<=50K,1,4,1
32557,27,Private,257302,Assoc-acdm,12,Tech-support,White,0,0,38,United-States,<=50K,5,2,5
32558,40,Private,154374,HS-grad,9,Machine-op-inspct,White,0,0,40,United-States,>50K,0,2,0
32559,58,Private,151910,HS-grad,9,Adm-clerical,White,0,0,40,United-States,<=50K,4,6,4
32560,22,Private,201490,HS-grad,9,Adm-clerical,White,0,0,20,United-States,<=50K,3,4,3

In [ ]:
df.columns= ['age', 'workclass', 'fnlwgt', 'education', 'education.num', 'occupation', 'race', 'capital.gain','capital.loss','hours.per.week', 'native.country', 'income', 'sex', 'marital.status','relationship']
df.head()

,age,workclass,fnlwgt,education,education.num,occupation,race,capital.gain,capital.loss,hours.per.week,native.country,income,sex,marital.status,relationship
0,90,?,77053,HS-grad,9,?,White,0,4356,40,United-States,<=50K,1,6,1
1,82,Private,132870,HS-grad,9,Exec-managerial,White,0,4356,18,United-States,<=50K,1,6,1
2,66,?,186061,Some-college,10,?,Black,0,4356,40,United-States,<=50K,4,6,4
3,54,Private,140359,7th-8th,4,Machine-op-inspct,White,0,3900,40,United-States,<=50K,4,0,4
4,41,Private,264663,Some-college,10,Prof-specialty,White,0,3900,40,United-States,<=50K,3,5,3

In [ ]:
#x_data = df[['age','education.num', 'fnlwgt', 'hours.per.week', 'marital.status','relationship']]
x_data = df[['age','education.num', 'hours.per.week', 'marital.status','relationship']]
y_data = df['sex']
#y_data = sex_label

In [ ]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.3,random_state=109) # 70% training and 30% test

In [ ]:
#This is model generation

#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
model = GaussianNB()

#Train the model using the training sets
model.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = model.predict(X_test)

#This is to evaluate the model
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

# Summary:

Based on the model: If we enter the age, educuation level, hours per week the person works, their marital status, and their relationship status we can determine with 100% certainty whether they are male or female.